<a href="https://colab.research.google.com/github/ShaijoGeorge/Elective-Python/blob/main/Tuple_21_03_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#store multiple data
#ordered
#unchangable
#allow duplicate values

In [3]:
tuple1=("Apple","Banana","Cherry")

In [4]:
#tuple length
len(tuple1)

3

In [5]:
tuple2=("Apple")

In [6]:
print(tuple2)

Apple

In [7]:
tuple2=("Apple",)

In [8]:
print(tuple2)

('Apple',)

In [9]:
#make a tuple using cunstructor
tuple3=tuple(("Apple","Mango","Banana"))

In [10]:
print(tuple3)

('Apple', 'Mango', 'Banana')

In [15]:
#searching elements
if "Cherry" in tuple1:
  print("Element Available!")

Element Available!

In [14]:
if "Mango" in tuple1:
  print("Element Available!")
else:
  print("Element Unavailable!")

Element Unavailable!

In [16]:
#convert tuple to list
list1=list(tuple3)

In [18]:
print(list1)

['Apple', 'Mango', 'Banana']

In [19]:
#convert tuple to set
set1=set(tuple3)

In [20]:
print(set1)

{'Apple', 'Mango', 'Banana'}

In [21]:
#convert list to tuple
tuple4=tuple(list1)

In [22]:
print(tuple4)

('Apple', 'Mango', 'Banana')

In [23]:
#convert a tuple into a list and then use the append() method to add data items
list2=list(tuple1)

In [24]:
list2.append("Orange")

In [25]:
print(list2)

['Apple', 'Banana', 'Cherry', 'Orange']

In [26]:
#remove items in a tuple
list2.remove("Cherry")

In [27]:
print(list2)

['Apple', 'Banana', 'Orange']

In [28]:
del tuple2

In [29]:
print(tuple2)

NameError: ignored

In [30]:
fruits=("Apple","Banana","Cherry") #packing

In [31]:
(green,yellow,red)=fruits #unpacking

In [32]:
print(red)

Cherry

In [33]:
print(green)

Apple

In [34]:
for x in fruits:
  print(x)

Apple
Banana
Cherry

In [35]:
for i in range (len(fruits)):
  print(fruits[i])

Apple
Banana
Cherry